<div class="article">
	<h1>Online video</h1>
    
    <div class="page-options" id="pre-page-options"><ul>
		<li><a href="http://www.qld.gov.au/share/">Share</a></li>
    </ul></div>
    
    <p>The video standard and template are still under development. A draft version of
    the markup follows.</p>
    
    <div class="qg-ovt" id="example-1">

	<h2>The video title</h2>
    
    <p>Video introduction text.</p>
    
    <img class="qg-ovt-poster" src="poster.jpg" alt="" width="640" height="340" />
    
    <div class="qg-ovt-alternatives">
    	
        <ul class="qg-ovt-options">
            <li class="download">Download:<ul>
                <li><a href="video.flv" type="video/flv">The video title (3 minutes 10 seconds, FLV 3MB)</a></li>
                <li><a href="video.mp4" type="video/mp4">The video title (3 minutes 10 seconds, MP4 3MB)</a></li>
                <li><a href="video.ogv" type="video/ogg">The video title (3 minutes 10 seconds, OGV 3MB)</a></li>
            </ul></li>
            <li class="captions"><a href="captions.xml">Captions (Timed Text)</a></li>
            <li class="audio-description"><a href="description.mp3">Audio description</a></li>
        </ul>
        
    
        <div class="qg-ovt-transcript">
        	<h3>Video transcript</h3>
            <p>Nulla commodo varius neque. Aliquam erat volutpat. Vestibulum a purus nisl, non pharetra massa. 
            	Vivamus bibendum nibh nec leo egestas sodales. Nullam eu nibh nulla, vitae mattis dolor. 
                Aenean faucibus cursus lorem vitae vestibulum. Curabitur consequat odio quis libero adipiscing facilisis.</p>
            <p>Donec at mauris diam. Nullam eget est in diam ultrices vestibulum non quis eros. In in enim lectus, 
            	ac vulputate augue. Suspendisse potenti.</p>
            <p>Donec faucibus iaculis orci, a venenatis felis tempus ut. 
                Sed et faucibus ipsum. Phasellus tempus mattis erat eu fermentum. Integer tincidunt pretium nunc. 
                Vestibulum libero mi, volutpat pellentesque dignissim vitae, ornare nec lacus.</p>
            <p>Nullam venenatis egestas condimentum. Quisque aliquam pulvinar nibh, ac interdum neque molestie a. 
            	Proin mi augue, ornare eu suscipit et, suscipit eu ante.</p>
            <p>Fusce purus ante, aliquet quis interdum sed, dictum et quam. Aenean ullamcorper urna a libero facilisis vehicula.</p>
            <p>Ut molestie, dui in accumsan mollis, massa velit tristique quam, a semper purus neque bibendum nulla.
            	Aliquam blandit metus quis velit fringilla accumsan.</p>
            <p>Quisque congue volutpat porta. Nulla iaculis, nisl ut iaculis consequat, erat elit eleifend risus, et interdum 
            	neque magna sit amet enim. Cras tellus ipsum, hendrerit vitae sagittis vitae, pharetra et elit. 
                Quisque volutpat, enim quis congue luctus, dolor sem cursus nulla, in pellentesque nisl quam non lorem.
                Duis et purus tortor, eget vulputate nunc. In vitae metus vestibulum urna mattis fermentum sit amet id ipsum. 
                Phasellus eleifend accumsan magna, vel convallis neque adipiscing vitae. Sed congue pellentesque enim sit amet laoreet.</p>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris tristique est ut nunc viverra aliquet. </p>
        </div>
    </div>
    
</div>
    
    
</div>